.wp {
    &-block {
        &-heading {
            strong {
                @apply font-asBold;
            }
        }

        &-paragraph {
            /* @apply leading-tight; */
        }
        &-separator {
            @apply mb-0;
        }
        &-post {
            &-title {
                @apply font-bold py-12 bg-grey-50 px-6 mb-12 text-xl border;
            }
        }

        &-button {
            &.is {
                &-style {
                    &-outline {
                        & > :where(.wp-block-button__link) {
                            &.has {
                                &-background {
                                    @apply bg-white !important;
                                }
                                &-yellow {
                                    &-background {
                                        &-color {
                                            @apply border-yellow-light border-2;
                                        }
                                    }
                                }

                                &-blue {
                                    &-dark {
                                        &-background {
                                            &-color {
                                                @apply border-blue-primary border-2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-columns {
            @apply flex lg:flex-row gap-x-12 m-0;

            &.gap-sm {
               @apply gap-x-6
            }

            &.gap-0 {
               @apply gap-x-0
            }
            &:not(.is-not-stacked-on-mobile) {
                & > {
                    .wp-block-column {
                        @apply basis-full lg:basis-0 py-3 lg:py-0;
                        &:not(:first-child) {
                            @apply ml-0;
                        }
                        &:not(:only-child) {
                            @apply basis-full lg:basis-0 !important;
                        }

                        &[style*="flex-basis: 66.66%"],
                        &[style*="flex-basis:66.66%"] {
                            @apply lg:basis-[66.66%] !important;
                        }
                        &[style*="flex-basis: 33.33%"],
                        &[style*="flex-basis:33.33%"] {
                            @apply lg:basis-[33.33%] !important;
                        }

                        .wp {
                            &-block {
                                &-columns {
                                    @apply md:flex-row;
                                    &:not(.is-not-stacked-on-mobile) {
                                        & > {
                                            .wp-block-column {
                                                @apply md:basis-0;

                                                &:not(:only-child) {
                                                    @apply md:basis-0 grow !important;
                                                }

                                                &[style*="flex-basis:66.66%"] {
                                                    @apply md:basis-2/3 !important;
                                                }
                                                &[style*="flex-basis:33.33%"] {
                                                    @apply md:basis-1/3 !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-embed {
            &.is {
                &-provider {
                    &-vimeo {
                        iframe {
                            @apply aspect-video w-full;
                        }
                        
                    }
                }
            }
        }
    }
}

body .entry-content.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width:none;
}

/* .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: none !important;
} */
/* @media (min-width: 1200px) {
	.post-thumbnail,
	.entry-content .wp-audio-shortcode,
	.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
	*[class*=inner-container] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
	.wp-block-group > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
	.default-max-width {
		max-width: var(--wp--style--global--wide-size);
	}
} */

.is-root-container.block-editor-block-list__layout {
    @apply mb-12;
}

.post-type {
    &-post {
        .is {
            &-root {
                &-container {
                    @apply prose w-full;
                }
            }
        }
    }
}
