<!-- wp:themeblocks/globalnav /-->

<!-- wp:themeblocks/texturedbg {"bgColor":"#21344C","className":"entry-content"} -->
<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:themeblocks/container -->
<!-- wp:heading {"textAlign":"center","level":1,"textColor":"white"} -->
<h1 class="has-text-align-center has-white-color has-text-color">Latest Content</h1>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","textColor":"white","className":"prose max-w-full","fontSize":"medium"} -->
<p class="has-text-align-center prose max-w-full has-white-color has-text-color has-medium-font-size">All of the best content for Armory in one place.</p>
<!-- /wp:paragraph -->
<!-- /wp:themeblocks/container -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:themeblocks/texturedbg -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:themeblocks/container -->
<!-- wp:heading {"textAlign":"center","textColor":"blue-light"} -->
<h2 class="has-text-align-center has-blue-light-color has-text-color"><strong>Resource Center</strong></h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:themeblocks/resourcecenter /-->
<!-- /wp:themeblocks/container -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:themeblocks/texturedbg -->
<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:themeblocks/container {"width":"lg:w-[800px]"} -->
<!-- wp:heading {"textAlign":"center","textColor":"white","className":"alignfull"} -->
<h2 class="has-text-align-center alignfull has-white-color has-text-color"><strong>Commit. Deploy. Repeat</strong>. </h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","textColor":"white","className":"font-asBold","fontSize":"medium"} -->
<p class="has-text-align-center font-asBold has-white-color has-text-color has-medium-font-size">Focus on writing great code, not deploying it!</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"className":"alignfull","layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons alignfull"><!-- wp:button {"backgroundColor":"yellow","textColor":"black"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-black-color has-yellow-background-color has-text-color has-background wp-element-button" href="https://go.armory.io/signup">Try for Free</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->
<!-- /wp:themeblocks/container -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:themeblocks/texturedbg -->

<!-- wp:themeblocks/globalfooter /-->