<!-- wp:themeblocks/globalnav /-->

<!-- wp:group {"className":"entry-content","layout":{"type":"constrained"}} -->
<div class="wp-block-group entry-content"><!-- wp:group {"backgroundColor":"grey-light","className":"alignfull"} -->
<div class="wp-block-group alignfull has-grey-light-background-color has-background"><!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:themeblocks/container {"width":"lg:w-[800px]"} -->
<!-- wp:heading {"level":1,"className":"alignfull"} -->
<h1 class="alignfull">Armory Blog</h1>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"className":"has-text-align-full","fontSize":"medium"} -->
<p class="has-text-align-full has-medium-font-size">
        Read the latest from the Armory Crew
    </p>
<!-- /wp:paragraph -->
<!-- /wp:themeblocks/container -->

<!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"alignfull"} -->
<div class="wp-block-group alignfull"><!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:themeblocks/container {"width":"lg:w-[800px]"} -->
<!-- wp:themeblocks/indexbody /-->
<!-- /wp:themeblocks/container -->

<!-- wp:spacer {"height":"60px"} -->
<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:themeblocks/globalfooter /-->