.mktoForm {
    &.newsletter {
        @apply p-0 !important;
        .mktoFormRow {
            @apply mx-0 !important;

            .mktoFieldDescriptor {
                @apply mb-0 px-0  !important;
                .mktoFieldWrap {
                    .mktoLogicalField {
                        label {
                            @apply text-white mb-0;
                        }
                    }
                    .mktoField {
                        @apply h-10 bg-purple-100 bg-opacity-10 text-white border-0 transition-colors duration-200   !important;

                        &:hover {
                            @apply bg-white text-grey-600 !important;
                        }
                        &.mktoInvalid {
                            @apply border !important;
                        }
                    }
                }
            }
        }

        .mktoButtonRow {
            @apply absolute top-0 right-0 w-28 px-0 !important;
            .mktoButtonWrap {
                @apply flex items-center justify-end h-full w-full;
                .mktoButton {
                    @apply w-full min-w-0 py-2 px-4 rounded h-full text-center not-italic bg-yellow-light text-black font-semibold font-os capitalize !important;
                }
            }
        }
    }

    @apply w-full p-0 text-grey-600 text-sm leading-tight md:p-4 !important;

    .mktoFormRow {
        @apply w-full flex -mx-0.5;

        .mktoClear {
            @apply hidden;
        }

        .mktoFieldDescriptor,
        .mktoFormCol {
            @apply w-full float-none relative px-1 mb-0 min-h-0 !important;

            .mktoOffset {
                @apply hidden;
            }

            .mktoFieldWrap {
                @apply w-full p-0 float-none inline-block !important;

                .mktoGutter {
                    @apply hidden;
                }

                &.mktoRequiredField {
                    .mktoLabel {
                        .mktoAsterix {
                            @apply hidden;
                        }
                    }
                }

                .mktoLogicalField {
                    @apply w-full !important;

                    &.mktoCheckboxList {
                        label {
                            @apply text-xs;
                        }

                        input {
                            @apply w-4 h-4 !important;
                        }
                    }
                }

                .mktoHtmlText {
                    @apply text-white w-full mb-6 px-0 !important;

                    h3 {
                        @apply text-xl font-os md:text-3xl;
                    }
                    span {
                        @apply text-xs;
                    }
                }

                label {
                    &.mktoLabel {
                        @apply hidden;
                    }
                    &#LblcloudDeployment {
                        @apply block;
                    }
                }

                textarea {
                    &.mktoField {
                        @apply h-16 !important;
                    }
                }

                .mktoField {
                    @apply w-full inline-block h-8 bg-white px-2 py-1 outline-none rounded border border-grey-200 text-grey-600 text-xs !important;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

                    &:focus {
                        @apply text-blue-50;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                            0 0 8px rgba(102, 175, 233, 0.6);
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                            0 0 8px rgba(102, 175, 233, 0.6);
                    }

                    &.mktoInvalid {
                        @apply bg-red-50 border-red-500 !important;
                    }
                }

                .mktoRadioList {
                    @apply flex flex-wrap w-full !important;

                    .mktoField {
                        @apply h-4 w-4 mr-2 !important;
                    }

                    label {
                        @apply ml-0 mr-4 text-grey-200 w-auto;
                    }
                }
            }

            .mktoOffset {
                @apply hidden !important;
            }
        }
    }

    .mktoButtonRow {
        @apply w-full py-0 px-1 my-0 !important;

        .mktoButtonWrap {
            @apply w-full ml-0 !important;

            .mktoButton {
                @apply uppercase text-sm px-6 rounded-full no-underline transition-colors duration-200 font-bold py-4 inline-block bg-yellow-light  !important;
                background-image: none !important;
                min-width: 180px;

                @screen md {
                    min-width: 240px;
                }

                &:hover {
                    @apply bg-opacity-80 border-yellow-light !important;
                }
            }
        }
    }
}

::placeholder {
    @apply text-grey-200 text-xs;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @apply text-grey-200 text-xs;
}
::-moz-placeholder {
    /* Firefox 19+ */
    @apply text-grey-200 text-xs;
}
:-ms-input-placeholder {
    /* IE 10+ */
    @apply text-grey-200 text-xs;
}
:-moz-placeholder {
    /* Firefox 18- */
    @apply text-grey-200 text-xs;
}
